/* General */
$color-bg: #fff;
$color-text: #252733;
$color-light-gray: #c5c7cd;
$color-medium-light-gray: #9fa2b4;
$color-ultra-light-gray: #dfe0eb;
$color-ultra-light-blue: #DDE2FF;
$color-pink: #fc3c8d;
$color-blue: #2F80ED;
$color-green: #219653;
$color-yellow: #FEC400;

/* Sidebar */
$color-nav-bg: #363740;
$color-nav-text: #a4a6b3;
$color-nav-text-active: #fff;
$color-nav-border-active: #fc3c8d;
$color-nav-bg-active: rgba(252, 60, 141, 0.08);
$color-nav-light-gray: rgba(223, 224, 235, 0.06);

/* Media */
$breakpoint-xsm: 540px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1170px;
$breakpoint-xlg: 1300px;
